.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.w-full {
  width: 100%;
}
.card {
  border: 1px solid gray;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
}
.thumbnail {
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
}
.content > .title {
  font-size: 24px;
  color: black;
}
.btn {
  padding: 10px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 20px;
}
.btn.bg-success {
  background-color: green;
}
.glallery-card {
  width: 600px;
  margin-top: 50px;
  margin-left: auto;
  border: 2px solid gray;
  margin-right: 100px;
}
